.analyze-child {
  position: absolute;
  top: 33px;
  left: 495px;
  border-radius: var(--br-31xl);
  background-color: var(--color-deepskyblue-100);
  width: 1017px;
  height: 57px;
}
.home {
  left: 563px;
  cursor: pointer;
}
.about-us,
.contact,
.home {
  position: absolute;
  top: 49px;
}
.about-us {
  left: 671px;
  cursor: pointer;
}
.contact {
  left: 822px;
}
.analysis-data,
.input-data,
.sign-in {
  position: absolute;
  top: 49px;
  left: 967px;
  cursor: pointer;
}
.analysis-data,
.input-data {
  left: 1089px;
}
.analysis-data {
  left: 1254px;
}
.group-child,
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.logo-icon {
  width: 425px;
  height: 180px;
  object-fit: cover;
}
.group-child {
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 93px;
}
.early-warning-system {
  position: absolute;
  top: 20px;
  left: 258px;
}
.rectangle-parent {
  position: absolute;
  top: 1099px;
  left: 0;
  width: 1440px;
  height: 93px;
  font-size: var(--font-size-21xl);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-deepskyblue-100);
  width: 419px;
  height: 67px;
}
.your-analysis {
  position: absolute;
  top: 9px;
  left: 71px;
  display: inline-block;
  width: 299.83px;
  height: 47.29px;
}
.rectangle-group {
  position: absolute;
  top: 247px;
  left: 95px;
  width: 419px;
  height: 67px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--gray-02);
  box-sizing: border-box;
  width: 343px;
  height: 340px;
}
.div,
.this-week {
  position: absolute;
  top: 140px;
  left: calc(50% - 73.5px);
  font-weight: 500;
  display: inline-block;
  width: 147px;
  height: 50.31px;
}
.this-week {
  top: 183px;
  left: calc(50% - 79.5px);
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: rgba(0, 173, 239, 0.68);
  width: 160px;
  height: 26px;
}
.circular-graph,
.outer-circle {
  position: absolute;
  width: 343px;
  height: 340px;
}
.outer-circle {
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
}
.circular-graph {
  top: 396px;
  left: 988px;
  text-align: center;
  font-size: var(--ui-30-medium-size);
  color: var(--color-deepskyblue-100);
}
.dropout-rate,
.item {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.dropout-rate {
  width: calc(100% - 1.91px);
  left: 0;
  font-size: var(--ui-30-medium-size);
  display: inline-block;
  height: 29.41px;
}
.item {
  left: 32px;
}
.statistic {
  top: 0;
  right: 0;
  font-size: var(--ui-14-regular-size);
  text-align: right;
}
.divider,
.icon,
.statistic {
  position: absolute;
}
.divider {
  width: calc(100% + 1px);
  top: 34.5px;
  right: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--gray-02);
  box-sizing: border-box;
  height: 1px;
}
.icon {
  top: 2px;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 196, 239, 0.29);
  width: 16px;
  height: 16px;
}
.datagraph-result,
.icon1 {
  position: absolute;
  top: 61.87px;
  left: 0;
  width: 654px;
  height: 35.5px;
}
.icon1 {
  top: 2px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  width: 16px;
  height: 16px;
}
.datagraph-result1,
.icon2 {
  position: absolute;
  top: 114px;
  left: 0;
  width: 654px;
  height: 35px;
}
.icon2 {
  top: 2px;
  border-radius: 50%;
  background-color: rgba(0, 173, 239, 0.42);
  width: 16px;
  height: 16px;
}
.datagraph-result2,
.icon3 {
  position: absolute;
  top: 165.32px;
  left: 0;
  width: 654px;
  height: 35.5px;
}
.icon3 {
  top: 2px;
  border-radius: 50%;
  background-color: rgba(0, 173, 239, 0.81);
  width: 16px;
  height: 16px;
}
.datagraph-result3,
.icon4 {
  position: absolute;
  top: 217.05px;
  left: 0;
  width: 654px;
  height: 35.5px;
}
.icon4 {
  top: 2px;
  border-radius: 50%;
  background-color: rgba(0, 173, 239, 0.72);
  width: 16px;
  height: 16px;
}
.datagraph-result4,
.icon5 {
  position: absolute;
  top: 268.77px;
  left: 0;
  width: 654px;
  height: 35.5px;
}
.icon5 {
  top: 2px;
  border-radius: 50%;
  background-color: rgba(0, 173, 239, 0.83);
  width: 16px;
  height: 16px;
}
.datagraph-result5 {
  position: absolute;
  top: 320.5px;
  left: 0;
  width: 654px;
  height: 35.5px;
}
.data-list {
  position: absolute;
  width: calc(100% - 786px);
  top: 381px;
  right: 666px;
  left: 120px;
  height: 356px;
  font-size: var(--ui-16-medium-size);
}
.status-average {
  position: absolute;
  top: 782px;
  left: 1041px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-jejumyeongjo);
  display: inline-block;
  width: 257px;
  height: 37px;
}
.item6 {
  position: absolute;
  top: 701.5px;
  left: 152px;
  font-size: var(--ui-16-medium-size);
  font-weight: 500;
}
.analyze {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1192px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--ui-16-medium);
}
