.contact-child {
  position: absolute;
  top: 33px;
  left: 495px;
  border-radius: var(--br-31xl);
  background-color: var(--color-deepskyblue-100);
  width: 1017px;
  height: 57px;
}
.about-us1,
.home1 {
  position: absolute;
  top: 49px;
  left: 563px;
  cursor: pointer;
}
.about-us1 {
  left: 671px;
}
.analysis-data1,
.contact2,
.input-data1,
.sign-in3 {
  position: absolute;
  top: 49px;
  left: 822px;
  cursor: pointer;
}
.analysis-data1,
.input-data1,
.sign-in3 {
  left: 967px;
}
.analysis-data1,
.input-data1 {
  left: 1089px;
}
.analysis-data1 {
  left: 1254px;
}
.logo-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 425px;
  height: 180px;
  object-fit: cover;
}
.paulrohit2021gmailcom {
  margin: 0;
}
.welcome-to-our-container {
  position: absolute;
  top: 923px;
  left: 158px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 534px;
  height: 117px;
}
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 93px;
}
.early-warning-system1 {
  position: absolute;
  top: 20px;
  left: 258px;
}
.rectangle-parent3 {
  position: absolute;
  top: 1099px;
  left: 0;
  width: 1440px;
  height: 93px;
  font-size: var(--font-size-21xl);
}
.image-2-icon {
  position: absolute;
  top: 180px;
  left: 853px;
  border-radius: var(--br-6xl);
  width: 510px;
  height: 463px;
  object-fit: cover;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-deepskyblue-100);
  width: 419px;
  height: 66px;
}
.contact-us {
  position: absolute;
  top: 9.71px;
  left: 119.17px;
  display: inline-block;
  width: 299.83px;
  height: 46.59px;
}
.rectangle-parent4 {
  position: absolute;
  top: 830px;
  left: 88px;
  width: 419px;
  height: 66px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-deepskyblue-100);
  width: 419px;
  height: 67px;
}
.about-us2 {
  position: absolute;
  top: 9.85px;
  left: 119.17px;
  display: inline-block;
  width: 299.83px;
  height: 47.29px;
}
.rectangle-parent5 {
  position: absolute;
  top: 237px;
  left: 88px;
  width: 419px;
  height: 67px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.we-are-a {
  position: absolute;
  top: 360px;
  left: 88px;
  display: inline-block;
  width: 506px;
}
.contact1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1192px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
